@import "../_style/mixins";
@import "../_style/variables";


@mixin nav-divider($color: #e5e5e5) {
  height: 1px;
  margin: calc($line-height-computed / 2);
  overflow: hidden;
  background-color: $color;
}


.nav-justified {
  width: 100%;

  >li {
    float: none;

    .tab-pane_label {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  >.dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: $screen-sm-min) {
    >li {
      display: table-cell;
      width: 1%;

      .tab-pane_label {
        margin-bottom: 0;
      }
    }
  }
}

.nav-tabs-justified {
  border-bottom: 0;

  >li .tab-pane_label {
    margin-right: 0;
    border-radius: $border-radius-base;
  }

  >.active>.tab-pane_label,
  >.active>.tab-pane_label:hover,
  >.active>.tab-pane_label:focus {
    border: 1px solid $nav-tabs-justified-link-border-color;
  }

  @media (min-width: $screen-sm-min) {
    >li>.tab-pane_label {
      border-bottom: 1px solid $nav-tabs-justified-link-border-color;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }

    >.active>.tab-pane_label,
    >.active>.tab-pane_label:hover,
    >.active>.tab-pane_label:focus {
      border-bottom-color: $nav-tabs-justified-active-link-border-color;
    }
  }
}


.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix();

  >li {
    position: relative;
    display: block;

    .tab-pane_label {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled>.tab-pane_label {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: $cursor-disabled;
      }
    }
  }

  // Open dropdowns
  .open>.tab-pane_label {

    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
    }
  }

  .nav-divider {
    @include nav-divider();
  }

  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  >li>a>img {
    max-width: none;
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid $nav-tabs-border-color;

  >li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    .tab-pane_label {
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base $border-radius-base 0 0;
      text-decoration: none;

      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    .tab-pane_label.active {

      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }

  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }

  &.nav-vertical {
    width: 150px;
    border-right: 1px solid $border;
    display: table-cell;
    vertical-align: top;

    li {
      color: $dark;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

// Pills
// -------------------------
.nav-pills {
  >li {
    float: left;

    // Links rendered as pills
    .tab-pane_label {
      border-radius: $nav-pills-border-radius;
    }

    +li {
      margin-left: 2px;
    }

    // Active state
    &.active>.tab-pane_label {

      &,
      &:hover,
      &:focus {
        color: $nav-pills-active-link-hover-color;
        background-color: $nav-pills-active-link-hover-bg;
      }
    }
  }
}


// Stacked pills
.nav-stacked {
  >li {
    float: none;

    +li {
      margin-top: 2px;
      margin-left: 0; // no need for this gap between nav items
    }
  }
}

.nav-v {
  display: table;
  width: 100%;

  .nav-tabs {
    margin-bottom: unset;
  }

  li {
    margin-bottom: unset;
  }

  li .tab-pane_label {
    border-radius: unset;
    margin-right: unset;
  }
  li .tab-pane_label.active {
    color: #fff!important;
    background-color: #03a9f3;
    border-bottom: unset;
    border-radius: unset;
  }

  .tab-content {
    margin-top: 0;
    padding: 20px;
  }
}


.tab-content {
  margin-top: 30px;

  &.nav-vertical {
    display: table-cell;
    vertical-align: top;
  }

  >.tab-pane {
    display: none;
  }

  >.active {
    display: block;
  }
}


.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}



.nav-default {
  border-bottom: 2px solid $extralight;
}

.nav-default .active {
  background: $white;
  border: 0px !important;
  border-bottom: 2px solid #03a9f3 !important;
  margin-bottom: -1px;
  color: #03a9f3 !important;
}

/*custom tab2*/
// .customtab2 {
//   border-bottom: 1px solid $extralight;
//   border-top: 1px solid $extralight;
//   padding: 10px 0;
// }

// .customtab2 li.active a,
// .customtab2 li.active a:hover,
// .customtab2 li.active a:focus {
//   background: $themecolor;
//   border: 1px solid $themecolor;

//   color: $white;
// }

// .customtab2 li a,
// .customtab2 li a:hover,
// .customtab2 li a:focus {
//   border: 0px;

// }
